@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #e1e1e1;
  --background-start-rgb: #13022c;
  --background-end-rgb: #0f031f;
}

body {
  color: var(--foreground-rgb);
  background: linear-gradient(
      to bottom,
      transparent,
      var(--background-end-rgb)
    )
    var(--background-start-rgb);
}

.slider {
    position: absolute;
    top: 0;
    width: 300px;
    transition: left 0.5s ease-in-out;
}

.slider.slider-open {
    left: 0;
}

.slider.slider-close {
    left: -300px;
}