@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #e1e1e1;
  --background-start-rgb: #0b011a;
  --background-end-rgb: #06010c;
}

body {
  color: var(--foreground-rgb);
  background: linear-gradient(
      to bottom,
      transparent,
      var(--background-end-rgb)
    )
    var(--background-start-rgb);
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
}

.slider .slider-content {
    position: relative;
    height: 100vh;
    top: 0;
    left: -300px;
    width: 300px;
    transition: left 0.5s ease-in-out;
}

.slider.slider-open {
    width: 100vw;
}

.slider.slider-close {
    width: 0;
}

.slider.slider-open .slider-content {
    left: 0;
}

table th,
table td {
    padding: 0.75rem 0.75rem;
}

table tbody tr:not(:last-child) {
    border-bottom: 1px #5d5d5d solid;
}

::-webkit-scrollbar {
    width: 0;
}